<!-- footer -->
<div class="row mapa-links mx-auto">

  <div class="mx-auto text-center">
    <!-- <p class="mx-auto"><a href="/src/app/page/login/login.html"  data-history="/login/"  data-src="/src/app/page/login/login.html">Entrar</a></p> -->
    <p
      id="toggleAuthF"
      class="mx-auto fake-link"
      data-toggle="modal"
      data-target="#login-modal"
    >
      Entrar
    </p>
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                          Open modal
                        </button> -->
  </div>
  <div class="mx-auto text-center">
    <a
      id="footer-login-link"
      data-route="about"
      data-link="app/page/about/about.html"
      data-path="app/page/about/about.html"
    >
      <button type="button" class="btn btn-primary button-transparent">
        asdasd
      </button>
    </a>
    <p id="go2About" class="mx-auto">
      <a
        id="footer-login-link"
        data-route="about"
        data-link="app/page/about/about.html"
        data-path="app/page/about/about.html"
        >Sobre</a
      >
    </p>
  </div>
  <!-- <div class="col-sm-12 col-md-12 col-lg-3 text-center">
          <p class="mx-auto">Config</p>
        </div> -->
</div>
<div class="row icons_row">
  <div id="icones_link_externo" class="mx-auto text-center">
    <div id="linkedin">
      <!-- <a href="https://www.linkedin.com/in/valmormn/" target="_blank" rel="noreferrer"><i
            class="fab fa-3x fa-linkedin"></i></a> -->
    </div>
    <div id="github">
      <!-- <a href="https://github.com/valmormn" target="_blank" rel="noreferrer"><i
            class="fab fa-3x fa-github-square"></i></a> -->
    </div>
    <!-- <div id="googlestore">
            <a href="https://play.google.com/store/apps" target="_blank"><i class="fab fa-3x fa-google-play"></i></a>
          </div> -->
    <!-- <div id="applestore">
            <a href="https://www.apple.com/ios/app-store/" target="_blank"><i class="fab fa-3x fa-app-store-ios"></i></a>
          </div> -->
  </div>
</div>

<div class="text-center">
  <a href="https://www.valmor.net.br/" target="_blank" rel="noreferrer"
    ><small>Valmor</small></a
  >
</div>

<div class="text-center">
  <small>2019</small>
</div>
