// index.scss

// @import "custom";
// @import "~bootstrap/scss/bootstrap";

@import './app/app.scss';
@import './style/style.scss';

$font-stack: Helvetica,
sans-serif;
// $primary-color: #333;

body {
  font: 100% $font-stack;
  font-size: 36px;
  ;
  //   color: $primary-color;
  color: yellow;
  background-color: #333;
}
